.header {
  background: #ff4e00;
  color:#f5f5f5;
}

.logo {
  border: 1px solid;
  border-color: #ff4e00;
  margin-right: 10px;
}

.line {
  border:#cc3e00;
  height: 50px;
}

.project-name {
  margin-left: 10px;
  margin-top: 5px;
  color:#f5f5f5;
}

.user-name {
  position: relative;
  left:38em;
  margin-top: 5px;
}
