.big-container {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
  height: calc(100vh - 96px);
  background-color: #e9e9e9;
  app-info-container {
      width: 100%;
      height: 100%;
      margin-left: 16px;
      margin-top: 16px;
  }
  app-teams-list-panel {
      width: 100%;
      height: 100%;
  }
}
