.mat-card {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 45%;
  height: 80%;
  // max-width: 400px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: white;



}

.mat-card-content{
  color: gray;
  text-align: center;
  align-items: center;
  font-size: 2em;
}

// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }
