
<mat-card>
  <mat-card-content class="not-selected" *ngIf="!this.selectedTeam && !this.selectedMember">

      Select a team to view members

  </mat-card-content>

<mat-card-content *ngIf="this.selectedTeam">

  <app-team-view></app-team-view>

</mat-card-content>

<mat-card-content *ngIf="this.selectedMember">
  <mat-card-title><a (click)="returnToTeam()">{{team.name}}</a>  > {{member.firstName}}{{member.lastName}}</mat-card-title>
<mat-divider></mat-divider>

    <div class="member-name">
      <div>
    <img class="member-image-selected" src="{{member.image}}"/>
  </div>
  <div class="member-data">
      <div class="name">{{member.firstName}} {{member.lastName}}</div>
      <div class="position">{{member.jobTitle}}</div>
      <div class="email">{{generateEmail(member)}}</div>
    </div>
  </div>
  
  </mat-card-content>
  <mat-action-row class="action-row">
    <button mat-icon-button aria-label="Edit Button">
      <mat-icon matTooltip="Edit Team">create</mat-icon>
    </button>
    <button mat-icon-button aria-label="Archive Button">
      <mat-icon matTooltip="Archive Team">archive</mat-icon>
    </button>
  </mat-action-row>
</mat-card>
