.content {
  display: flex;
  width: 50%;

  img {
    width: 50%;
  }
  div{
    width: 50%;
  }
}

.member-name{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3px !important;
  margin-left: 3px;
  color: rgba(69,90,100,.87) !important
}

.not-selected {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }


.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

mat-card-content {
  width: 100%;

}

mat-card {
  display: flex;
  height: 86%;
  overflow: scroll;
}

.name {
  width: 100% !important;
}


.position {
  width: 100% !important;
}

.mat-card-title {
  color: grey !important;
  padding-top: 16px;
}


.member-image-selected {
  margin-top: 10px;
  margin-right: 10px;
  width: 110px;
  height: 110px;
  vertical-align: middle;
}

.member-name{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 3px !important;
  margin-left: 3px;
  color: rgba(69,90,100,.87) !important
}

.member-data{
  margin-top: 50px;
  font-size: 1.5em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #707070;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}