<mat-card class="team-list-container">
    <mat-card-header>
      <mat-card-title>
        Teams
      </mat-card-title>
    </mat-card-header>
      <mat-card-content >
        <div>
        <mat-expansion-panel *ngFor="let team of teams" showToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{team.name}}
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          
          <div *ngIf="team">
            {{team.members}}
            <div *ngFor="let member of team.members" class="mat-card-content" cdkDrag>
              text
              <!-- <app-movie-card [movie]="movie"></app-movie-card> -->
            </div>
          </div>
          <mat-action-row >
            <mat-icon class="memberIcon" (click)="openDialog(team)">person_add</mat-icon>
          </mat-action-row>
        </mat-expansion-panel>
        </div>
       
          <mat-action-row class="action-row">
          
            <mat-icon matTooltip="Add Team" (click)="openNewTeamDialog()">add_box</mat-icon>
          </mat-action-row>
  
      </mat-card-content>
      
    </mat-card>
