<mat-card class="team-list-container">
    <mat-card-header>
      <mat-card-title>
        Teams
      </mat-card-title>
    </mat-card-header>
      <mat-card-content >
        <mat-expansion-panel *ngFor="let team of teams" showToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{team.name}}
            </mat-panel-title>

          </mat-expansion-panel-header>
          
          <mat-action-row>
            <mat-icon class="memberIcon" >person_add</mat-icon>
          </mat-action-row>
        </mat-expansion-panel>


      </mat-card-content>
    </mat-card>
