// .team-list-container {
//     position: fixed;
//     top: 5px;
//     left: 10px;
//     width: 40vw;
//     height: 85vw;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: transparent;
//     margin: 2%;
    
// }
.mat-card-title {
    
    padding-top: 16px;
}

// .mat-card-content {
//     height: 100%;
//     width: 100%;
//     background-color: whitesmoke;
//     padding: 3%;
//     border-bottom: 1.5px gray solid;
// }
mat-card {
    padding: 0;
    width: 40vw;
    margin: 32px;
}