<mat-card class="team-list-container">
    <mat-card-header>
      <mat-card-title>
        Teams
      </mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="progressBarService.visible" mode="indeterminate"> </mat-progress-bar>
      <mat-card-content >
        <div>
        <mat-expansion-panel (click)="showTeam(team)"  *ngFor="let team of teams" showToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{team.name}}
            </mat-panel-title>

          </mat-expansion-panel-header>
          
            <div cdkDropList cdkDropListOrientation="horizontal" class="card-content" *ngIf="team" (cdkDropListDropped)="drop($event, team)">
              <div *ngIf="team.members.length === 0" class="no-members">
                <div>
                  <h2>No members on this team.</h2>
                </div>
              </div>
              <div *ngIf="team.members.length > 0">
                <div *ngFor="let member of team.members" class="image-div" cdkDrag>
                  <img matTooltip="{{member.firstName}} {{member.lastName}}" matTooltipPosition="above" *ngIf="member" [src]="setDefaultPic(member)" class="tooltip" >
                </div>
              </div>
            </div>

          <mat-action-row >
            <div class="team-counter">
            <p *ngIf="team.members">{{team.members.length}}/12</p>
            <!-- <p *ngIf="!team.members">0/12</p> -->
            </div>
            <mat-icon class="memberIcon" (click)="openDialog(team)">person_add</mat-icon>
          </mat-action-row>
        </mat-expansion-panel>
        </div>

          <mat-action-row class="action-row">
            <mat-icon matTooltip="Add Team" (click)="openNewTeamDialog()">add_box</mat-icon>
          </mat-action-row>

      </mat-card-content>

    </mat-card>
