<form class="form">
    <div class="form-container">
        <div class="row">
            <mat-form-field class="formfield" class="team-name">
            <input matInput placeholder="Team Name">
            </mat-form-field>

        </div>
        <div class="row">
          <mat-form-field class="formfield" class="team-description">
            <textarea matInput placeholder="Team Description"></textarea>
          </mat-form-field>
      </div>
    </div>
    <div class="button-row">
      <button mat-button mat-dialog-close (click)="cancel()" class="cancel" color="">Cancel</button>
      <button mat-button mat-dialog-close (click)="submit()" class="submit" color="">Submit</button>
    </div>
  </form>
