/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(69,90,100,.87) !important }

    .mat-expansion-panel-body{
      padding: 8px !important;
    }

    .mat-expansion-panel-content {
        background-color: lightgrey;
        box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
      }
   .mat-card-content {
       line-height: 1.0;
   }

   .mat-form-field {
    margin: 8px;
    margin-top: -10px;
    width: 100%;
   }
.user-image {
    width: 100px;
    height: 100px;
    opacity: 0.5;
}
