.button-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -10px;
}

.form-container {
  display: flex;
  width: 40vw;
  align-content: center;
  flex-direction: column;
  text-align: center;

}

.row-one {
    justify-content: space-evenly;

}
.row-two {
    justify-content: space-evenly;
}

.formfield {
    margin: 8px;
    margin-top: -10px;
    width: 200px;
}

.first-name {
margin-left: 5px;
margin-right: 10px;
width: 45%;
}

.last-name {
    margin-left: 5px;
    margin-right: 5px;
  width: 45%;
}

.title {
  margin-left: 5px;
margin-right: 10px;
width: 45%;
}

.team {
  margin-left: 5px;
  margin-right: 5px;
  width: 45%;
}

.user-image-container {
  display: flex;
  margin: 10px 30px;
  justify-content: space-between;
}

.selected-user-image {
  border-bottom: 2px  #ff4e00 solid;
  opacity: 1.0;
}
